@font-face {
  font-family: 'Gilroy-Bold';
  src: url("/style/font/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: 'Gilroy';
  src: url("/style/font/Gilroy-Medium.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy-Bold', Helvetica, sans-serif;
  color: #343A40;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Gilroy-Bold', Helvetica, sans-serif;
  font-size: 80px;
  line-height: 80px;
  margin: 0;
}

h1 span {
  color: #5E35B1;
}

.container {
  margin: auto;
  width: 1464px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: inherit;
  background-color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 0 2rem;
  height: 80px;
  -webkit-box-shadow: 0px 2px 4px #0000000D;
          box-shadow: 0px 2px 4px #0000000D;
  border: 1px solid #DEE2E6;
  border-radius: 16px;
  z-index: 5;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 20px;
}

nav ul li {
  margin: 0 1rem;
  cursor: pointer;
}

nav ul li:hover {
  color: #5E35B1;
}

nav img {
  margin-right: 2rem;
}

article {
  font-size: 20px;
  font-family: 'Gilroy', Helvetica, sans-serif;
  line-height: 30px;
}

article.who-we-are {
  padding-top: 12rem;
}

article.who-we-are .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

article.who-we-are strong {
  font-family: 'Gilroy-Bold', Helvetica, sans-serif;
}

article.playground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

article.playground p {
  margin-top: 2rem;
}

article.playground p span {
  color: #D6006D;
}

article.playground .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article.playground .arrows img {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

article.playground::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#ffffff00), to(#ffffff));
  background: linear-gradient(90deg, #ffffff00 0%, #ffffff 100%);
  height: 555px;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 150px;
}

article.playground .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 99.75rem;
}

article.playground .content .card {
  width: 444px;
  background-color: #5E35B1;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px #5E35B14D;
          box-shadow: 0px 2px 4px #5E35B14D;
  border-radius: 16px;
  margin-right: 66px;
  padding-left: 3rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

article.playground .content .card p {
  text-align: left;
  line-height: 25px;
}

article.playground .content .card h3 {
  font-family: 'Gilroy', Helvetica, sans-serif;
  font-size: 34px;
  line-height: 41px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

article.playground .content .card h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: bold;
}

article.playground .content .card span {
  color: #4DD0E1;
  cursor: pointer;
}

article.playground .content .card .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article.playground .content .card .card-body {
  padding-right: 1.5rem;
  margin-bottom: 2rem;
}

article.playground .content .card .card-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 4.75rem;
}

article.playground .content .card .card-foot img {
  width: 32px;
  height: 32px;
  margin-bottom: 0.5rem;
}

article.playground .content .card .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article.playground .content .card .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.playground .content .card .row h3 {
  color: #4DD0E1;
}

article.playground .content .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

article.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 15rem;
}

article.what-we-do p {
  margin-top: 2rem;
  width: 576px;
  text-align: center;
}

article.what-we-do .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 10rem;
  margin-right: 6rem;
}

article.what-we-do .col p {
  text-align: left;
  padding-right: 1rem;
}

article.what-we-do .col img {
  width: 140.78px;
  height: 56px;
}

article.what-we-do .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30rem;
  margin-top: 1.5rem;
}

article.what-we-do .row .screenshot {
  position: relative;
}

article.what-we-do .row .screenshot img:nth-child(2) {
  position: absolute;
  left: -50px;
  top: 420px;
}

article.what-we-do .row .screenshot img:nth-child(3) {
  position: absolute;
  left: 512px;
  top: -10px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(29%, #EDE7F6), to(#FAE4EE)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #EDE7F6 29%, #FAE4EE 100%) 0% 0% no-repeat padding-box;
  margin-bottom: 8rem;
}

section img, section svg {
  margin: 10rem 0;
}

footer {
  background-color: #F8F9FA;
  color: #868E96;
  border-top: 1px solid #DEE2E6;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  padding: 2rem 0;
}

footer ul li {
  margin: 0 1rem;
  cursor: pointer;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social p {
  font-size: 20px;
  line-height: 30px;
  margin-left: 2rem;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-wrapper img {
  margin-right: 0.75rem;
  cursor: pointer;
}

footer .footer-wrapper p {
  font-family: 'Gilroy', Helvetica, sans-serif;
}
/*# sourceMappingURL=style.css.map */